extends layout

block content
  main
    section#president.container(style="padding-top: 200px;")
      .mx-auto.text-center
        span.text-muted Message
        h2 社長挨拶
      p
        | 当社は昭和28年の創立以来、照明機器の分野において、独自の表面処理加工を駆使した製品を提供し、
        | その高い技術と信頼性で長年にわたり社会に貢献してまいりました。
        | 企業にとって、世界的な規模で地球環境問題がクローズアップされている中で、「地球にやさしい」をテーマ
        | にした企業活動に力を注いでいくことは大切な使命であり、当社においても環境マネジメントシステムを確立し
        | 、地球環境保全の維持・向上に努めております。
        | 当社は、これまで培ってきた専門技術を生かし、地球環境保全に最も貢献するものと期待されているＬＥＤの
        | 普及とともに、より多くのお客様に満足していただける省エネ照明機器を提供していけるよう尽力していく所存
        | です。　世界Ｎｏ．１のばねメーカーであるニッパツ（日本発条）グループの一員として、これからも豊かな社会
        | の発展に貢献できるよう努めてまいりますので、一層のご支援を賜りますようお願い申し上げます。
    
    section#company.container
      .mx-auto.text-center
        span.text-muted Company
        h2 会社概要
      p
        | 優れた表面処理技術等を活用した照明器具の生産において日本で有数の会社であります。
        br
        |  今、地球環境への配慮とお客様の品質・コスト・納期の満足にお応えしながら、新たな技術革新と新商品に挑戦しております。
      table.table.table-hover.w-75.mx-auto(width="620" border="0" cellpadding="0" cellspacing="0")
        tr
          td 商号
          td
            | 横浜機工株式会社
            br
            | YOKOHAMA KIKO CO., LTD.
        tr
          td 設立
          td 1939年（昭和14年）3月29日（金沢工業株式会社）
        tr
          td 創立
          td 1953年（昭和28年）12月8日（横浜機工株式会社と改称）
        tr
          td 本社
          td
            | 〒236-0004
            br
            | 横浜市金沢区福浦二丁目11番1
        tr
          td 代表者
          td 代表取締役社長　岡本　勉
        tr
          td 資本金
          td 95百万円
        tr
          td 従業員数
          td 80名
        tr
          td 売上高
          td 23億円
        tr
          td 事業内容
          td 各種照明器具の開発・製造・販売、真空蒸着処理
        tr
          td 取引銀行
          td
            | みずほ銀行
            br
            | 横浜銀行
        tr
          td 関連子会社
          td(style="line-height: 2;")
            | 横浜機工テクノ株式会社（山口県美祢市）
            a(href="yokohama-kiko-techno.pdf" target="_blank")
              span.badge.badge-info 詳細
            br
            | （事業内容）自動車部品の製造・販売
            br
            | （シートフレーム・バンパーステー・メインパイプ等）
        tr
          td 加入団体
          td
            | 一般社団法人 日本照明工業会
            br
            | 一般社団法人 照明学会
            br
            | 一般社団法人　横浜金沢産業連絡協議会
            br
            | 横浜商工会議所
            
    section#history.container
      .mx-auto.text-center
        span.text-muted History
        h2 沿革
      table.table.table-hover.w-75.mx-auto
        tr
          th 1939年
          th 金沢工業(株)設立（横浜市金沢区谷津）
        tr
          th 1941年
          td 社名を日本航空機(株)と改称
        tr
          th 1953年
          td
            | 社名を横浜機工(株)と改称
            br
            | 本社工場で照明器具生産開始
        tr
          th 1957年
          td
            | 日本発条(株)資本参加
            br
            | ばね横浜工場稼動（自動車用スタビライザの生産）
        tr
          th 1973年
          td ばね伊勢原工場稼動（神奈川県伊勢原市で自動車用スタビライザの生産）
        tr
          th 1975年
          td ばね美祢工場稼動（山口県美祢市で自動車用シート部品の生産）
        tr
          th 1983年
          td 本社工場を横浜市金沢区福浦に移転
        tr
          th 1984年
          td 第9回発明大賞を受賞（高反射鏡の真空コーティング法）
        tr
          th 1985年
          td 神奈川工業技術開発大賞を受賞（セラミック薄膜のイオンプレーティング法）
        tr
          th 1996年
          td 横浜機工テクノ(株)設立（美祢工場の分社化）
        tr
          th 1999年
          td ISO9001認証取得
        tr
          th 2001年
          td ISO14001認証取得
        tr
          th 2006年
          td 本社・ばね横浜工場を神奈川県伊勢原市に移転・集約
        tr
          th 2010年
          td 日本発条(株)の完全子会社
        tr
          th 2011年
          td ばね部門を会社分割・本社を神奈川県横浜市に移転
        tr
          th 2017年
          td 横浜健康経営認証
        tr
          th 2018年
          td 健康経営優良法人認証
          
    section#access.container
      .mx-auto.text-center
        span.text-muted Access
        h2 アクセス
      .mx-auto.text-center
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.2371096233014!2d139.65047341458137!3d35.349761480272846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018422b79da3363%3A0x7d1e9ced1f61cebe!2z5qiq5rWc5qmf5belKOagqik!5e0!3m2!1sja!2sjp!4v1567969066557!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")
        h3 横浜機工株式会社
        p 〒236-0004　横浜市金沢区福浦2-11-1
        h3 交通
        ol
          li JR「新杉田駅」から乗り換え　シーサイドライン「福浦駅」下車　徒歩5分
          li 京浜急行「金沢八景駅」から乗り換え　シーサイドライン「福浦駅」下車　徒歩5分
