extends layout

block content
  header.jumbotron.jumbotron-fluid.shadow
    .container
      h1
        | 信頼と創造で
        br
        | 豊かさを
      .header-sentence
        p
          | 地球環境への配慮とお客様の品質・コスト・納期の満足にお応えしながら、新たな技術革新と新商品に挑戦しております。
          
  section.shadow
    .container
      .mx-auto.text-center
        span.text-muted News
        h2 お知らせ
      ul.list-group.w-75.text-left.mt-5.mx-auto
        li.list-group-item
          span.date 2019-02-28
          span.category.badge.badge-primary お知らせ
          a(href="#") 「健康経営優良法人2019（中小規模法人部門）」認定
        li.list-group-item
          span.date 2019-01-18
          span.category.badge.badge-primary お知らせ
          a(href="#") 第2回横浜健康経営認証クラスAAAに認証されました
        li.list-group-item
          span.date 2018-08-28
          span.category.badge.badge-primary お知らせ
          a(href="#") 「平成30年健康優良企業（健保連神奈川連合会）認定
  
  section#portfolio.bg-light.page-section
    .container
      .mx-auto.text-center.mt-5
        span.text-muted Works
        h2 事業紹介
      .row.mt-5
        .col-md-6.col-sm-6.portfolio-item
          .card.mx-5
            img.card-img-top(src="https://cdn.glitch.com/2e2fbabc-6457-418f-96bb-4a6bef58637b%2Fplaceholder.png?v=1566172696090" alt="カードの画像")
            .card-body
              h5.card-title 事業
              p.card-text テキスト
              a.btn.btn-primary(href="#") ボタン
        .col-md-6.col-sm-6.portfolio-item
          .card.mx-5
            img.card-img-top(src="https://cdn.glitch.com/2e2fbabc-6457-418f-96bb-4a6bef58637b%2Fplaceholder.png?v=1566172696090" alt="カードの画像")
            .card-body
              h5.card-title 事業
              p.card-text テキスト
              a.btn.btn-primary(href="#") ボタン

  section.page-section.shadow
    .container
      .mx-auto.text-center.mt-5
        span.text-muted Works
        h2 製造設備
      .row.mt-5
        .col-md-4.col-sm-6.portfolio-item
          .card.mx-3
            img.card-img-top(src="https://cdn.glitch.com/2e2fbabc-6457-418f-96bb-4a6bef58637b%2Fplaceholder.png?v=1566172696090" alt="カードの画像")
            .card-body
              h5.card-title 設備
              p.card-text テキスト
              a.btn.btn-primary(href="#") ボタン
        .col-md-4.col-sm-6.portfolio-item
          .card.mx-3
            img.card-img-top(src="https://cdn.glitch.com/2e2fbabc-6457-418f-96bb-4a6bef58637b%2Fplaceholder.png?v=1566172696090" alt="カードの画像")
            .card-body
              h5.card-title 設備
              p.card-text テキスト
              a.btn.btn-primary(href="#") ボタン
        .col-md-4.col-sm-6.portfolio-item
          .card.mx-3
            img.card-img-top(src="https://cdn.glitch.com/2e2fbabc-6457-418f-96bb-4a6bef58637b%2Fplaceholder.png?v=1566172696090" alt="カードの画像")
            .card-body
              h5.card-title 設備
              p.card-text テキスト
              a.btn.btn-primary(href="#") ボタン
              
  section.page-section
    .container
      .mx-auto.text-center.mt-5
        span.text-muted Works
        h2 私たちの活動
      .row.mt-5
        #example-2.carousel.slide(data-ride="carousel")
          .carousel-inner
            .carousel-item.active
              img(src="slide1.png" alt="First slide")
            .carousel-item
              img(src="slide2.png" alt="Second slide")
            .carousel-item
              img(src="slide3.png" alt="Third slide")
            a.carousel-control-prev(href="#example-2" role="button" data-slide="prev")
              span.carousel-control-prev-icon(aria-hidden="true")
              span.sr-only Previous
            a.carousel-control-next(href="#example-2" role="button" data-slide="next")
              span.carousel-control-next-icon(aria-hidden="true")
              span.sr-only Next
              