doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title= title
  body#body
    form(action="/api/login", method="post")
    div
      lavel ユーザーID:
      input(type="text", name="username")
    div
      label パスワード：
      input(type="password", name="password")
    div
      input(type="submit", value="ログイン")
      