doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title= title
  body#body
    form(method="POST", target="./")
            input(type="text", name="word" value="")
            input(type="hidden", name="mode" value="input")
            input(type="submit", value="送信")
      