extends layout

block content
  main
    section#oem.container
      +title("OEM", "OEM事業")
      p
        | 当社のLED照明製品は省エネ効率が高く特に大型施設や屋外の高所で使われる製品が主力で、
        | 大手電機メーカーのOEM生産（取引先ブランドで製造する製品）が中心です。客先ニーズに合わせた
        | 部品や製品の設計・試作・評価から量産までを担当しております。LED照明器具用の光源部と電源は
        | 外部調達し、アルミダイカスト部品は海外調達をしています。量産品から特注品・小ロット対応まで行える
        | 管理力・生産設備を備えた製造メーカーです。
        | 工場では、塑性加工（Plastic working） に関しては、絞り加工・プレス加工・板金加工.
        | 表面処理加工（surface treatment）については、真空蒸着・化学研磨・塗装設備を有しており、
        | 電安法にもとづいた組立（Assembly）まで一貫生産を行えることが、リードタイムの短縮や輸送コスト
        | 削減に繋がります。
      .row
        .col-sm-4
          img(src=)