.navbar {
  background-color: #149;/*#0071BC;*/
  border-color: #3e6962;
}

header.jumbotron {
  background: url("https://cdn.glitch.com/2e2fbabc-6457-418f-96bb-4a6bef58637b%2FCIMG3021.jpg?v=1567596252586");
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin-top: 60px;
  padding-top: 100px;
}

h1 {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5em;
  /* font-family: ro-nikkatsu-sei-kai-std, serif; */
}

header .header-sentence {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 42%;
  margin-top: 3%;
  /*margin-left: 10px;*/
  width: 58%;
  font-size: 2em;
}

footer .site-map {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 50px;
}

footer #credit {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  background: #149;
}

footer a {
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s ease-out; 
}

footer a:hover {
  color: #000000; 
}

nav {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav .navbar-brand {
  font-size: 28px;
}

h2 {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  /* font-family: ro-nikkatsu-sei-kai-std, serif; */
}

section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}